<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="ice-width, initial-scale=1.0">
    <title>HUST BOOK STORE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div th:replace="fragments/header :: header"></div>

    <section class="banner">
        <img src="image/hust.jpg" alt="Banner" />
    </section>
    <main class="main-content">
        <h2>Sản phẩm nổi bật</h2>

        <div class="product-list">
            <div class="product-card">
                <img src="image/arya.jpg" alt=" Arya ban ben">
                <h3>Arya ban ben</h3>
                <p class="price">139.000₫</p>
                <button>Mua ngay</button>
            </div>
        </div>
    </main>

    <footer>
        <p>Bản quyền thuộc cửa hàng sách HUST BOOK STORE</p>
    </footer>
</body>
</html>
