<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>
</head>
<body>
    <header class="header">
        <div class="logo">HUST BOOK STORE</div>
        <nav class="nav">
            <a href="">Trang chủ</a>
            <a href="Product">Sách</a>
            <a href="#">Văn phòng phẩm</a>
            <a href="login">Đăng nhập</a>
            <a href="signin">Đăng ký</a>
        </nav>
    </header>
    <h2>Trang đăng ký</h2>
    <form th:action="@{/signin}" method="post">
        <label>Tên đăng nhập:</label>
        <input type="text" name="username" />
        <br>
        <label>Mật khẩu:</label>
        <input type="password" name="password" />
        <br>
        <br>
        <label>Nhập lại mật khẩu:</label>
        <input type="password" name="password" />
        <br>
        <button type="submit">Đăng ký</button>
    </form>
</body>
</html>
