<!DOCTYPE html>
<html lang="vi">
<head>

    <meta charset="UTF-8">
    <title>Giỏ Hàng</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div th:replace="fragments/header :: header"></div>

<div class="cart-container">

    <h2>Giỏ Hàng Của Bạn</h2>

    <table class="cart-table">
        <thead>
            <tr>
                <th>Sản Phẩm</th>
                <th>Đơn Giá</th>
                <th>Số Lượng</th>
                <th>Số Tiền</th>
                <th>Thao Tác</th>
            </tr>
        </thead>


        <tbody>
            <tr th:each="item : ${cartItems}">
                <td><input type="checkbox" class="product-checkbox" data-quantity="${item.quantity}" data-price="${item.price * item.quantity}"></td>

                <td class="product-info">
                    <img th:src="@{/image/arya.jpg}" alt="Sách">
                    <div>
                        <p th:text="${item.name}">Tên Sách</p>
                        <small th:text="${item.author}">Tên Nhà Sách</small>
                    </div>
                </td>
                <td th:text="${#numbers.formatDecimal(item.sellPrice, 0, 'COMMA', 0, 'POINT')} + '₫'">Đơn Giá</td>
                <td>
                    <input type="number" th:value="${item.quantity}" >
                </td> 
                <td th:text="${#numbers.formatDecimal(item.sellPrice*item.quantity, 0, 'COMMA', 0, 'POINT')} + '₫'">Đơn Giá</td>
                <td><button class="delete-btn">Xóa</button></td>
            </tr>
        </tbody>
    </table>

    <div class="cart-summary">
        <div class="left">
            <th><input type="checkbox" id="selectAll">Chon tat ca</th>
            <button class="delete-all-btn">Xóa</button>
        </div>
        <div class="right">
            <span>Tổng cộng (0 sản phẩm): <strong>0₫</strong></span>
            <button class="checkout-btn">Mua Hàng</button>
        </div>
    </div>

</div>

</body>

<script>
    // Khi checkbox "Chọn tất cả" thay đổi
    document.getElementById("selectAll").addEventListener("change", function () {
      const checkboxes = document.querySelectorAll(".item-checkbox");
      checkboxes.forEach(cb => cb.checked = this.checked);
    });
  
    // Nếu bỏ chọn 1 checkbox con → tự động bỏ chọn "chọn tất cả"
    document.querySelectorAll(".item-checkbox").forEach(cb => {
      cb.addEventListener("change", function () {
        const all = document.querySelectorAll(".item-checkbox");
        const allChecked = Array.from(all).every(cb => cb.checked);
        document.getElementById("selectAll").checked = allChecked;
      });
    });
  </script>
  
</html>
