<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="ice-width, initial-scale=1.0">
    <title>HUST BOOK STORE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div th:insert="~{fragments/header :: header}"></div>
    
    <section class="banner">
        <img src="image/hust.jpg" alt="Banner" />
    </section>
    <main class="main-content">

            <h2>ssSản phẩm nổi bật </h2>

        <div class="product-list">
            <div class="product-card">
                <img src="image/arya.jpg" alt=" Arya ban ben">
                <h3>Arya ban ben</h3>
                <p class="price">139.000₫</p>
                <button>Mua ngay</button>
            </div>
        </div>
    </main>

    <div th:insert = "~{fragments/footer :: footer}"></div>
</body>
</html>
