<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Arya ban ben</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <main class="product-container">
        <div class="product-image">
            <img src="image\arya.jpg" alt="Arya ban ben " width="300px">
        </div>

        <div class="product-details">
            <p><strong>Tác giả:</strong> Unknow</p>
            <p><strong>The loai:</strong> Truyen chu</p>
            <p><strong>So luong: </strong> 10</p>
            <p><strong>NXB:</strong> Dai hoc Back Khoa Ha Noi</p>
            <p><div class ="price"><span> Gia bán:<em>139.000₫</em></span></div>  </p>

            <button class="buy-button">Thêm vào giỏ hàng</button>
            <button class="buy-button">Mua ngay</button>
        </div>
    </main>

    <section class="description">
        <h3>Mô tả sản phẩm</h3>
        <p>
            mô tả sản phẩm
        </p>
    </section>

    <footer>
        <p>Bản quyền thuộc cửa hàng sách HUST BOOK STORE</p>
    </footer>

</body>
</html>
