<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
        <link rel="stylesheet" href="profile-style.css">
</head>
<body>

    <h2>User Profile</h2>
    <form th:action="@{/profile}" method="post" th:object="${customer}">
        <input type="hidden" th:field="*{customerid}" />

        <label>Username</label>
        <input type="text" th:field="*{username}" required />

        <label>Password</label>
        <input type="password" th:field="*{password}" required />

        <label>Customer Name</label>
        <input type="text" th:field="*{customername}" />

        <label>First Name</label>
        <input type="text" th:field="*{firstname}" />

        <label>Last Name</label>
        <input type="text" th:field="*{lastname}" />

        <label>Gender</label>
        <select th:field="*{gender}">
            <option value="">Select</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>

        <label>Card Number</label>
        <input type="text" th:field="*{cardnumber}" />

        <label>Phone</label>
        <input type="text" th:field="*{phone}" />

        <label>Email</label>
        <input type="email" th:field="*{email}" />

        <label>Address</label>
        <input type="text" th:field="*{address}" />

        <!-- Cart field thường là object phức tạp, không cần nhập ở đây -->
        <button type="submit">Update Profile</button>
    </form>

</body>
</html>
