<!DOCTYPE html>
<html lang="vi">
<head>

    <meta charset="UTF-8">
    <title>Giỏ Hàng</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
<div class="container">
    <h2>Lịch Sử Mua Hàng</h2>
    <div th:each="order : ${order_lines}" class="order-item">
        <img th:src="@{${order.product_image}}" width="100">
        <div class="info">
            <h4 th:text="${order.product_name}"></h4>
            <p>Số lượng: <span th:text="${order.quantity}"></span></p>
            <p>Đơn giá: <span th:text="${#numbers.formatDecimal(order.product_price, 0, 'COMMA', 0, 'POINT')} + '₫'"></span></p>
            <p>Tổng tiền: <span th:text="${#numbers.formatDecimal(order.total_price, 0, 'COMMA', 0, 'POINT')} + '₫'"></span></p>
            <p>Trạng thái: <span th:text="${order.status}"></span></p>
            <p>Ngày giao: <span th:text="${#temporals.format(order.delivery_date, 'dd-MM-yyyy')}"></span></p>
        </div>
        <div>
            <button th:if="${!order.rating_status}" class="btn btn-primary">Đánh Giá</button>
            <button th:if="${order.rating_status}" class="btn btn-secondary" disabled>Đã đánh giá</button>
        </div>
    </div>
</div>
<div th:replace = "fragments/footer :: footer" ></div>
</body>